.nav-pills .nav-link:hover {
    color: var(--bs-nav-link-color) !important;
}

#carouselExampleDark .carousel-inner {
    height: 340px;
}

#carouselExampleDark .carousel-inner img {
    object-fit: cover;
    filter: brightness(0.7);
}

.cards {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    text-decoration: none;
    color: black;
    text-align: center;
    width: 100%;
    padding: 7px;
    overflow: hidden;
    align-items: center;
}

.card img {
    transform: scale(1);
    transition: transform 0.25s ease;
    max-width: 95%;
}

.card:hover img {
    transform: scale(1.05);
}

.card-title {
    margin-bottom: 0;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 767px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    #carouselExampleDark .carousel-inner {
        height: 290px;
    }
}

.socials a {
    width: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    height: 30px;
    transform: scale(1);
    transition: transform 0.3s ease;
}


.socials a:hover {
    transform: scale(1.05);
}


.whatsapp {
    background-image: url(../img/socials/whatsapp.png);
}

.viber {
    background-image: url(../img/socials/viber.png);
}

.telegram {
    background-image: url(../img/socials/telegram.png);
}

.vk {
    background-image: url(../img/socials/vk.png);
}

.inst {
    background-image: url(../img/socials/inst.png);
}

.ok {
    background-image: url(../img/socials/ok.png);
}

header .socials a {
    width: 25px;
    height: 25px;
}

.phone {
    color: black;
    font-weight: 500;
}

.phone:hover {
    color: red;
}

.phone:hover svg {
    fill: red;
}

.socials .ms-3:first-child {
    margin-left: 0 !important;
}


@media (max-width: 768px) {
    .navbar {
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
    }

    .navbar .menu-items li {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 2rem;
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(35deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-35deg);
    }
}